<table class="comment">
  <tr>
    <td rowspan="2" style="width: 50px;">
      {% if comment.url %}
      <a href="{{ comment.url }}" rel="nofollow">
        <img alt="Avatar for {{ comment.name | xml_escape }}" style="float: left;" src="{{comment.avatar}}"
          class="avatar" height="48" width="48">
      </a>
      {% else %}
      <img alt="Avatar for {{ comment.name | xml_escape }}" style="float: left;" src="{{comment.avatar}}" class="avatar"
        height="48" width="48">
      {% endif %}
    </td>
    <td>
      <span class="author" style="font-weight: bold; padding-left: 2px;">
        {% if comment.url %}
        <a href="{{ comment.url }}" rel="nofollow">{{ comment.name | xml_escape }}</a>
        {% else %}
        {{ comment.name | xml_escape }}
        {% endif %}
      </span>
    </td>
  </tr>
  <tr>
    <td style="padding-left: 2px;">
      {{ comment.date | date: '%B' }}
      {% assign d = comment.date | date: "%-d" %}
      {% case d %}
      {% when '1' or '21' or '31' %}{{d}}st,
      {% when '2' or '22' %}{{d}}nd,
      {% when '3' or '23' %}{{d}}rd,
      {% else %}{{d}}th,
      {% endcase %}
      {{ comment.date | date: '%Y' }}
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-left: 2px;">
      {{ comment.message | markdownify }}
    </td>
  </tr>
</table>