--- 
--- 
@import "minima";

.highlight {
  .lineno {
    color: #ccc;
    display: inline-block;
    padding: 0 5px;
    border-right: 1px solid #ccc;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .gutter {
    padding: 0;
    border-color: transparent;
  }

  .gutter>pre {
    margin-bottom: 0;
  }

  .code {
    padding: 0;
    border-color: transparent;
  }

  .code>pre {
    padding-top: 0;
    border-color: transparent;
    margin-bottom: 0;
  }

  ;

  .rouge-table {
    border: 0;
    border-color: transparent;
    margin-bottom: 0;
  }

  .post-nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .post-nav p {
    flex: 1 1 0;
    width: 45%;
  }

  .post-nav p:first-child {
    padding-right: 0.5em;
  }

  .post-nav p:last-child {
    padding-left: 0.5em;
    text-align: right;
  }

}